/* ------ Base style ------ */
:root {
  --nav-dark: #000;
}

html,
body {
  font-size: 1vw;
}

[no-click] {
  pointer-events: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

/* ------ Base style ------ */
/* ------ Manifest nav ------ */
.nav-manifest__divider {
  background-color: currentColor;
}

/* Nav */
@media screen and (max-width: 768px) {
  .nav__menu,
  .nav-manifest {
    visibility: hidden;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.5s ease, visibility 0.5s ease;
  }

  .menu-open .nav,
  .manifest-menu-open .nav {
    color: #000;
  }

  .menu-open .nav__btn,
  .manifest-menu-open .nav-manifest__btn {
    background-color: #000;
    color: #fff;
    border-color: #000;
  }

  .menu-open {
    background-color: #f7ee75 !important;
  }

  .menu-open .nav__menu,
  .manifest-menu-open .nav-manifest {
    visibility: visible;
    clip-path: inset(0 0 0% 0);
  }

  .nav-manifest__btn {
    visibility: hidden;
    transform: translateY(-150%);
    transition: transform 0.3s ease, visibility 0.3s ease;
  }

  .manifest-active .nav-manifest__btn {
    visibility: visible;
    transform: translateY(0%);
  }

  .manifest-item-1 .nav-manifest__image.is-1,
  .manifest-item-1 .nav-manifest__btn-index.is-1 {
    display: block;
  }

  .manifest-item-2 .nav-manifest__image.is-2,
  .manifest-item-2 .nav-manifest__btn-index.is-2 {
    display: block;
  }

  .manifest-item-3 .nav-manifest__image.is-3,
  .manifest-item-3 .nav-manifest__btn-index.is-3 {
    display: block;
  }

  .manifest-item-4 .nav-manifest__image.is-4,
  .manifest-item-4 .nav-manifest__btn-index.is-4 {
    display: block;
  }

  .manifest-item-5 .nav-manifest__image.is-5,
  .manifest-item-5 .nav-manifest__btn-index.is-5 {
    display: block;
  }

  .manifest-item-6 .nav-manifest__image.is-6,
  .manifest-item-6 .nav-manifest__btn-index.is-6 {
    display: block;
  }

  .manifest-item-7 .nav-manifest__image.is-7,
  .manifest-item-7 .nav-manifest__btn-index.is-7 {
    display: block;
  }

  .manifest-item-8 .nav-manifest__image.is-8,
  .manifest-item-8 .nav-manifest__btn-index.is-8 {
    display: block;
  }

  .manifest-item-9 .nav-manifest__image.is-9,
  .manifest-item-9 .nav-manifest__btn-index.is-9 {
    display: block;
  }
}

.nav-manifest.active .nav-manifest__wrapper-btn {
  background-color: #000;
  color: #fff;
}

/* >Nav */
/* Nav change */
.nav.dark {
  color: var(--nav-dark);
}

.nav.dark .nav__menu-link,
.nav.dark .nav__btn,
.nav.dark .nav-manifest__btn {
  border-color: var(--nav-dark);
}

@media screen and (min-width: 991px) {
  .nav.dark .nav__menu-link:hover {
    background-color: var(--nav-dark);
    color: #fff;
  }
}

/* >Nav change */
/* ----- Background color change ----- */
.base.green {
  background-color: #a2c366;
}

.base.yellow {
  background-color: #f7ee75;
}

.base.pink {
  background-color: #eaa3cd;
}

.base.blue {
  background-color: #aeedf5;
}

/* ----- >Background color change ----- */
/* ----- Manifest nav visible ----- */
@media screen and (min-width: 768px) {
  .nav-manifest {
    visibility: hidden;
    transform: translateY(20%);
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  .base.manifest-active .nav-manifest {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .base.green .nav-manifest {
    background-color: #a2c366;
  }

  .base.pink .nav-manifest {
    background-color: #eaa3cd;
  }

  .base.blue .nav-manifest {
    background-color: #aeedf5;
  }

  .base.yellow .nav-manifest {
    background-color: #f7ee75;
  }
}

.manifest-menu-open .nav-manifest__btn-arrow {
  transform: rotate(180deg);
}

/* ----- >Manifest nav visible ----- */
/* ----- Hero screen min-height fix ----- */
@media screen and (max-height: 45vw) {
  .section-hero {
    height: 45rem;
  }

  .hero__nav-change {
    height: 58rem;
  }

  .section-hero__sticky {
    margin-bottom: -45rem;
    height: 90rem;
  }
}

/* ----- >Hero screen min-height fix ----- */
.nav-manifest__image {
  pointer-events: none;
}

/* ----- Mob manifest menu ----- */
.nav-manifest__menu-link.w--current .nav-manifest__menu-img-mask {
  width: 100%;
}

/* ----- fix partners pixel image ----- */
@media screen and (min-width: 768px) {
  .partners__image-mask {
    height: calc(100% + 4px);
  }
}

/* ----- >fix partners pixel image ----- */
.manifest__share-control {
  display: none;
}

.manifest-active .manifest__share-control {
  display: flex;
}

* {
  outline: none;
}
.manifest-item-1 .manifest-nav__text.is-1,
.manifest-item-1 .manifest__share-control-item.is-1 {
  display: flex;
}

.manifest-item-2 .manifest-nav__text.is-2,
.manifest-item-2 .manifest__share-control-item.is-2 {
  display: flex;
}

.manifest-item-3 .manifest-nav__text.is-3,
.manifest-item-3 .manifest__share-control-item.is-3 {
  display: flex;
}

.manifest-item-4 .manifest-nav__text.is-4,
.manifest-item-4 .manifest__share-control-item.is-4 {
  display: flex;
}

.manifest-item-5 .manifest-nav__text.is-5,
.manifest-item-5 .manifest__share-control-item.is-5 {
  display: flex;
}

.manifest-item-6 .manifest-nav__text.is-6,
.manifest-item-6 .manifest__share-control-item.is-6 {
  display: flex;
}

.manifest-item-7 .manifest-nav__text.is-7,
.manifest-item-7 .manifest__share-control-item.is-7 {
  display: flex;
}

.manifest-item-8 .manifest-nav__text.is-8,
.manifest-item-8 .manifest__share-control-item.is-8 {
  display: flex;
}

.manifest-item-9 .manifest-nav__text.is-9,
.manifest-item-9 .manifest__share-control-item.is-9 {
  display: flex;
}

.nav-manifest.active .nav-manifest__wrapper-container {
  display: flex;
}

.nav-manifest.active .nav-manifest__wrapper-btn-ico {
  transform: rotate(-180deg);
}

.nav-manifest__menu-link:hover .nav-manifest__menu-img-mask {
  width: 100%;
}

.footer__text:hover .footer__menu-img-mask {
  width: 100%;
}

.scroll-down {
  transition: visibility 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.scrollwhite .scroll-down {
  color: #000;
}

.manifest-active .scroll-down,
.green .scroll-down {
  visibility: hidden;
  opacity: 0;
}

.loader {
  display: block;
}
